@font-face {
    font-family: 'Runescape';
    src: url('fonts/RuneScape Chat.ttf') format('truetype');
}

@font-face {
    font-family: 'Alien Dash';
    src: url('fonts/Alien Dash.ttf') format('truetype');
}

@font-face {
    font-family: 'Alien Solid';
    src: url('fonts/Alien Solid.ttf') format('truetype');
}

/* COMP 23F */
body {
    text-align: center;
    background-image: url('./sunset.jpg');
    background-size: cover;
    font-family: 'Runescape';
    padding: 40px 20px 40px 20px;
    color: #FFF;
}

div {
    color: #FFF;
}

.head {
    font-family: 'Alien Dash';
    font-size: 48px;
    text-decoration: underline;
}

/* COMP 22C-3 */
.direct-demo-outer > div {
    color: yellow;
    font-size: 64px;
}

.gf {
    position: absolute;
    left: -30px;
    top: 300px;
    transform: rotate(-45deg);
}

/* COMP 25D */
.plus-demo {
    position: relative;
    top: 380px;
    width: 500px;
    float: right;
}

/* COMP 22C-5 */
/* COMP 24F */
.plus-demo div+p {
    border: 3px solid #FFF;
    box-sizing: border-box;
}

.rick {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.2;
    width: 100%;
}

.doc {
    position: absolute;
    bottom: 0;
    color: yellow;
}